<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1 id="projecth1"><%= @job.title %></h1>
<div class="portfolio_content">
<div class="portfolio_desc">
  <%= @job.desc %>
</div>
<div class="portfolio_url">
  <%= link_to slice_http(@job.url), @job.url  %>
</div>
<%= image_tag @job.screen.url(:medium) %>
<div class="portfolio_dateadd">
Дата добавления: <%= @job.created_at.strftime("%d.%m.%Y") %>
</div>
<div class="portfolio_paginate">
  <%= link_to raw('&larr;'), job_path(prev_job)%>
  <%= link_to raw("&rarr;"), job_path(next_job) %>
</div>
</div>
