<%= form_for @ourportfolio, :html => { :multipart => true } do |f| %>
  <% if @ourportfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ourportfolio.errors.count, "error") %> prohibited this ourportfolio from being saved:</h2>

      <ul>
      <% @ourportfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Скриншот" %>
    <%= f.file_field :screen %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
