<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="portfolio_content">
      <h1 id="projecth1">
        <%= @ourportfolio.title %>
      </h1>
      <div class="portfolio_thumb">
        <%= image_tag @ourportfolio.screen.url(:medium) %>
      </div>
      <div class="portfolio_description">
        <%= @ourportfolio.desc %>
      </div>
      <div class="project_actions">
        <%= link_to 'Редактировать', edit_ourportfolio_path(@ourportfolio) %> |
        <%= link_to 'Назад', ourportfolios_path %>
      </div>
</div>

