<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1 id="projecth1">Проекты</h1>
<% @projects.each do |project| %>
  <div class="project">
    <div class="project_title"><%= project.title %></div>
    <div class="project_url"><%= link_to slice_http(project.url), project.url %></div>
    <div class="project_description"><%= project.description %></div>
  </div>
<% end %>
<div class="paginate">
  <%= will_paginate @projects %>
</div>
