<%= form_for(@ourproject) do |f| %>
  <% if @ourproject.errors.any? %>
      <h2><%= pluralize(@ourproject.errors.count, "ошибки") %> prohibited this ourproject from being saved:</h2>
      <ul>
      <% @ourproject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= f.label "Название:" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "URL проекта" %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Описание" %><br />
    <%= f.text_area :description, :cols => 40, :rows => 10 %>
  </div>
  <div class="project_actions">
    <%= f.submit "Жми!" %>
  </div>
<% end %>
