<%= form_for(@ourproject) do |f| %>
  <% if @ourproject.errors.any? %>
    <div class="errors_msg">
      <h2>Количество ошибок: <%= @ourproject.errors.count %></h2>
      <ul>
      <% @ourproject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название:" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "URL проекта" %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Описание" %><br />
    <%= f.text_area :description, :cols => 60, :rows => 15 %>
  </div>
  <div class="project_actions">
    <%= f.submit "Жми!" %>
  </div>
<% end %>
